/* Basic functions */

* {
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

/* GLOBAL OBJECTS */

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}
/* LAYOUT */



/* CLASSES */

.darkmode--activated .header img {
    filter: invert(100%);
}


.header {
    border-bottom: 1px solid #999;
}

.header img {
    float: left;
    height: 45px;
    margin: 10px;
    margin-right: 5px;
    margin-top: 11px;
    margin-left: 15px;
}

aside.navbar {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 600;
}

aside.navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 13px;
}

aside.navbar li {
    display: inline;
    float: left;
}

aside.navbar a {
    font-size: 28px;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 1px;
    background-color: #fff;
}

aside.navbar a:hover {
    color: #666;
    transition: .5s;
}

aside.navbar a:not(:hover) {
    color: #000;
    transition: .5s;
}

.code {
    font-family: 'Source Code Pro', monospace;
}

.headerimage {
    background-image: url(../images/nekoheader.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    /*height: 33.75em;*/
    height: auto;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    border-bottom: 1px solid #ccc;
}

.headerimage h1 {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 600;
    font-size: 40px;
    border-radius: 5px;
    font-weight: 600;
    width: 25%;
    margin: 0 auto;
    height: auto; 
    padding: 20px;
    background-color: white;
}

.main {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 600;
    font-size: 1.75em;
    width: 5em;
    margin: 5px;
    margin-left: 0;
    margin-top: 1%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    color: white;
    background: #222;
}

.main p a {
    margin-left: 5px;
    font-size: 1.1em;
}

.column1 {
    width: 33%;
    text-align: center;
    float: left;
}

.column2 {
    text-align: center;
    width: 34%;
    float: left;
}

.column3 {
    text-align: center;
    width: 33%;
    float: left;
}

.column1 h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 600;
    font-size: 1.75em;
    margin-bottom: 0;
}

.column2 h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 600;
    font-size: 1.75em;
    margin-bottom: 0;
}

.column2 ul {
    text-align: left;
    width: 40%;
    margin: 0 auto;
    list-style: square;
}

.column3 ul {
    text-align: left;
    width: 40%;
    margin: 0 auto;
    list-style: square;
}

.column3 h2 {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 600;
    font-size: 1.75em;
    margin-bottom: 0;
}

hr {
    width: 40%;
}

.footer {
    width: 85%;
    margin: 0 auto;
}

.footer h3 {
    font-size: 1em;
    text-decoration: underline;
    margin-bottom: 5px;
}

.randomneko {
    width: 75%;
}

.main2footer {
    width: 85%;
    margin-top: 2%;
    color: #ccc;
}

.column2 a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.column3 a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.column2 a:hover {
    color: #666;
    transition: .5s;
}

.column3 a:hover {
    color: #666;
    transition: .5s;
}

.copyright {
    float: none;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 1em;
    font-weight: 600;
}

/* IDs */
