.activity * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.activity *:before,
.activity *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.activity {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.activity * {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.activity {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
          box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: #ffffff;

  color: #333;
  line-height: 1.42857143;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.activity a {
  background: transparent;
  text-decoration: none;
}

.activity a:active {
  outline: 0;
}

.activity a:hover {
  outline: 0;
}

.activity a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.activity-head {
  border-bottom: 1px solid #d5d5d5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
}

.activity-head img {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 4px;
  vertical-align: middle;
  float: left!important;
}

.activity-head h4 a {
  color: #555555;
  line-height: 1;
  font-size: 24px;
  font-weight: 500;
}

.activity-head small a {
  color: #999;
  font-size: 18px;
  font-weight: 400;
}

.activity-body {
  height: 300px;
  overflow-y: scroll;
}

.activity-body a {
  color: #4183c4;
}

.activity-body a:hover,
.activity-body a:focus {
  color: #4183c4;
  text-decoration: underline;
}

.activity-body li {
  position: relative;
  display: block;
  margin-bottom: -1px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  padding: 10px 15px;
  background-color: #ffffff;

  color: #777777;
}

.activity-body li:first-child {
  border-top-width: 0;
}

.activity-body li:last-child {
  border-bottom-width: 0;
}

.activity-body li small {
  color: #bbbbbb;
}

.activity-foot {
  border-top: 1px solid #d5d5d5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px;
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;

  color: #999999;
  text-shadow: 0 1px 0 #fff;
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.activity-foot a {
  color: #999999;
}

.activity-foot a:hover,
.activity-foot a:focus {
  color: #777777;
}
