/* Basic functions */

* {
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

/* GLOBAL OBJECTS */

hr {
    width: 60%;
}

/* LAYOUT */

.logo {
    border-bottom: 1px solid #999;
}

.logo img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 60%;
    height: auto;
}

aside.navbar ul {
    padding-top: 0;
}


aside.navbar li {
    float: none !important;
    text-align: center;
}

aside.navbar a {
    float: none !important;
    display: block;
    width: 100%;
    font-size: 1.75em;
}

.headerimage {

    padding-top: 1em;
    padding-bottom: 1em;
    height: auto;

}

.headerimage h1 {
    font-size: 1.5em;
    width: 90%;
}

.main {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.column1 {
    width: 100%;
}

.column1 img {
    width: 95%;
}

.column2 {
    width: 100%;
}

.column3 {
    width: 100%;
}

.main h2 {
    margin: 0 auto;
    margin-top: 20px;
}

/* CLASSES */

/* IDs */
